@font-face {
  font-family: "Outfit";
  src: url("../assets/fonts/outfit/Outfit-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Young Serif";
  src: url("../assets/fonts/young-serif/YoungSerif-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
  width: min(750px, 100%);
  padding: 50px;
}

.recipe-image {
  width: 100%;
  border-radius: 10px;
}

.recipe-header {
  font-family: "Young Serif", serif;
  font-weight: 400;
  text-align: left;
  font-size: 2rem;
  margin-top: 20px;
}

.recipe-description {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
}

.recipe-info {
  margin-left: 30px;
  margin-top: 30px;
}

.recipe-info-header {
  font-family: "Outfit", sans-serif;
  font-weight: 600;
  color: hsl(332, 51%, 32%);
  text-align: left;
  font-size: 1.25rem;
}

.recipe-info-list {
  padding-left: 20px;
}

.recipe-info-item {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
}

.recipe-section-header {
  font-family: "Young Serif", serif;
  color: hsl(14, 45%, 36%);
  font-weight: 400;
  text-align: left;
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 20px;
}

.recipe-ingredients-list {
  padding-left: 20px;
}

.recipe-instructions-list {
  padding-left: 20px;
}

.recipe-instructions-item {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-size: 1rem;
  margin-top: 10px;
  padding-left: 10px;
}

.recipe-instructions-item::marker {
 color: hsl(14, 45%, 36%);
 font-weight: 700;
}

.nutrition-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  text-align: left;
}

.nutrition-label {
  font-family: "Outfit", sans-serif;
  color: hsl(30, 10%, 34%);
  font-weight: 400;
  font-size: 1rem;
  padding: 10px;
}

.nutrition-value {
  font-family: "Outfit", sans-serif;
  color: hsl(14, 45%, 36%);
  font-weight: 700;
  font-size: 1rem;
  padding: 10px;
}
