.grid-container {
  display: grid;
  gap: 2.5em;
  padding: 1.5rem;
  margin-top: 3em;
  max-width: 1500px;
  max-height: 1500px;
}

@media only screen and (min-width: 48em) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
  }

  .testi-grid-1 {
    grid-column: span 2;
  }

  .testi-grid-4 {
    grid-column: span 2;
  }

  .testi-grid-5 {
    grid-column: 4;
    grid-row: 1 / span 2;
  }
}
