.home-button {
  position: fixed;
  top: 1rem;
  left: 1rem;

  background-color: #007bff;
  color: white;
  border: none;

  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;

  z-index: 1000;
}

.project-page {
  padding-top: 80px;
}
