@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

.meet-landing-page {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Red Hat Display", sans-serif;
  letter-spacing: 0px;
  line-height: 110%;
}

.meet-logo {
  width: 119px;
  height: 28px;
  margin: 3rem;
}

.meet-hero {
  width: 115%;
  height: auto;
}

.meet-header {
  width: 100%;
  height: min-content;
}

.meet-title {
  color: #28283d;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
  font-size: 2.75rem;
  font-weight: 900;
  line-height: 110%;
}

.meet-description {
  color: #87879d;
  font-size: 1rem;
  font-weight: 600;
  max-width: 29ch;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.meet-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.meet-btn-download {
  width: 50%;
  border-radius: 50px;
  background-color: #4d96a9;
  color: #fafafa;
  border: none;
  font-size: 1rem;
  padding: 16px 24px;
  font-weight: 600;
  line-height: 150%;
}

.meet-btn-download:hover {
  background-color: #8fe3f9;
}

.meet-download-version {
  color: #8fe3f9;
}

.btn-meet-about {
  width: 40%;
  border-radius: 50px;
  background-color: #855fb1;
  color: #fafafa;
  border: none;
  font-size: 1rem;
  padding: 16px 24px;
  font-weight: 600;
  line-height: 150%;
}

.btn-meet-about:hover {
  background-color: #d9b8ff;
}

.meet-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  position: relative;
}

.meet-main-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 0 1.5rem;
  margin-bottom: 3rem;
}

.meet-grid-img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.meet-main-header {
  color: #4d96a9;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 4px;
  font-weight: 900;
  padding: 1rem;
}

.meet-main-subheader {
  color: #28283d;
  font-size: 2.25rem;
  max-width: 14ch;
  line-height: 110%;
  font-weight: 900;
}

.meet-main-text {
  color: #87879d;
  padding: 2rem;
  font-size: 1rem;
  line-height: 150%;
  font-weight: 600;
  max-width: 35ch;
  margin-bottom: 10rem;
}

.meet-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image:
    linear-gradient(rgba(77, 150, 168, 0.85), rgba(77, 150, 168, 0.85)),
    url("../assets/mobile/image-footer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.meet-footer-header {
  margin-top: 2rem;
  color: #fafafa;
  font-size: 2.25rem;
  font-weight: 900;
  padding: 2rem;
  line-height: 110%;
}

.meet-footer-subheader {
  color: #fafafa;
  font-size: 1rem;
  max-width: 35ch;
  line-height: 150%;
  padding: 1rem;
  font-weight: 600;
}

.meet-footer-btn-download {
  width: 50%;
  border-radius: 50px;
  background-color: #855fb1;
  color: #fafafa;
  border: none;
  font-size: 1rem;
  padding: 16px 24px;
  font-weight: 600;
  line-height: 150%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.meet-footer-btn-download:hover {
  background-color: #d9b8ff;
}

.meet-footer-download-version {
  color: #d9b8ff;
}
